[submodule ".deps/zh-writing-humanizer"]
	path = .deps/zh-writing-humanizer
	url = https://github.com/ruijayfeng/zh-writing-humanizer.git
	branch = feat/public-narrative
[submodule ".deps/content-production-skills"]
	path = .deps/content-production-skills
	url = https://github.com/ruijayfeng/content-production-skills.git
	branch = main
[submodule ".deps/kevinbee-illustrations"]
	path = .deps/kevinbee-illustrations
	url = https://github.com/ruijayfeng/kevinbee-illustrations.git
	branch = main
[submodule ".deps/gzh-design-skill"]
	path = .deps/gzh-design-skill
	url = https://github.com/ruijayfeng/gzh-design-skill.git
	branch = main
[submodule ".deps/kaibing-xhs-images"]
	path = .deps/kaibing-xhs-images
	url = https://github.com/ruijayfeng/kaibing-xhs-images.git
	branch = main
